*{
    padding: 0;
    margin: 0;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div-nav{
    width: 100%;
    height: 80px;
    background-color: #2C5F2D;
}
nav{
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    color: white;
}
.logo-nav{
    display: flex;
}
.logo{
    font-size: 30px;
    margin: 0px 20px 0px 40px;
}
.nav{
    display: flex;
    
}
.nav li{
    list-style-type: none;
}
.nav a{
    position: relative;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    transition: 0.1s;
}
.nav a:hover{
    color: #97BC62;
    /* text-decoration: underline; */
}
.nav a::before{
    content: "";
    background-color: #97BC62;
    width: 0;
    height: 3px;
    border-radius: 25px;
    position: absolute;
    top: 25px;
    left: 0px;
    transition: 0.3s;
}
.nav a:hover::before{
    width: 100%;
}
.contact button{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    color: white;
    margin-right: 20px;
}
@media screen and (max-width: 680px){
    .contact button{
        display: none;
    }
    .nav a{
        margin-left: 5px;
    }
    .logo{
        margin: 0px 10px 0px;
    }
    
}
.main{
    background-color: #97BC62;
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
}
.bio .img{
    display: flex;
    align-items: center;
}
.bio{
    position: absolute;
    left: 15%;
    top: 25%;
}
.main-img{
    position: absolute;
    top: 15%;
    right: 15%;
}
@media screen and (max-width: 1000px){
    .bio{
        left: 10%;
    }
    .main-img{
        right: 10%;
    }
}
@media screen and (max-width: 800px){
    .bio{
        left: 5%;
    }
    .main-img{
        right: 5%;
    }
}
@media screen and (max-width: 700px){
    .main-img{
        left: 8%;
    }
    .bio{
        right: 10%;
        top: 65%;
    }
    .main{
        height: 700px;
    }
    .circle{
        width: 200px;
        height: 200px;
    }
}
.bio img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.text{
    padding: 3px 15px;
    background-color: white;
    border-radius: 25px;
    
}
.bio h1{
    margin: 0px 15px;
    border-radius: 50px;
    font-size: 30px;
}
.bio h2{
    color: #97BC62;
    font-size: 20px;
    margin: 15px 0px;
    padding: 8px 15px;
}
.bio h3{
    background-color: #2C5F2D;
    color: white;
    padding: 10px;
    width: 80px;
    font-size: 15px;
}

.main-img .circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-img img{
    width: 300px;
    height: 300px;
}
/* end of heading */
.my-story{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.my-story .img{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-story img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    padding: 5px;
}
.story{
    padding: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.head-story{
    display: flex;
    width: 80%;
    height: 110px;
    background-color: #97BC62;
    border-radius: 20px;
    justify-content: right;
    padding-right: 10%;
    align-items: center;
    color: white;
    margin: 10px;
}
.story h2{
    margin: 20px 0px;
}
.head-story img{
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.story p{
    margin: 10px 0px;
}
@media screen and (max-width: 900px){
    .head-story{
        width: 100%;

    }
    .story{
        width: 80%;
    }
    .my-story img{
        margin-top: 20px;
    }
    .head-story img{
        width: 40px;
        height: 40px;
        margin-top: 0;
    }
    .my-story{
        flex-direction: column;
        height: 100%;
    }
}
/* end of story */

.information{
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 45%;
    margin: 10px;
}
.info-1{
    width: 45%;
    margin: 10px;
    
}
.parent-exp{
    display: flex;
    justify-content: center;
    /* border: 1px solid #dddddd; */
    width: 100%;
    height: 100px;
    display: flex;
}
.exp{
    border: 1px solid #dddddd ;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.exp h2{
    font-size: 40px;
}
.exp p{
    color: rgb(23, 215, 167);
}
table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: whitesmoke;
  }
  @media screen and (max-width: 750px){
    .information{
        flex-direction: column;
        height: 500px;
    }
    .exp{
        border: none;
    }
    .exp h2{
        font-size: 30px;
    }
    .exp p{
        font-size: 12px;
    }
  }

  /* end of information */

  .company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
  }
  .company h2{
    font-size: 2rem;
  }
  .flex-company{
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .flex-company img{
    width: 50px;
    height: 50px;
    margin: 20px;
  }
  @media screen and (max-width: 600px){
    .company{
        height: 100%;
        padding: 20px 0px 20px;
    }
    .company h2{
        font-size: 1.3rem;
    }
    .flex-company{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }

  /* end of company */

  .service{
    width: 100%;
    height: 900px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .service-box{
    width: 70%;
    height: 100px;
    border-radius: 10px;
    background-color:#97BC62;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .service-box h2{
    font-size: 2rem;
  }
  @media screen and (max-width: 600px){
    .service-box h2{
        font-size: 1.4rem;
      }
  }
  .parent-flex-box{
    display: flex;
  }
  .m{
    margin-top: 30px;
  }
  .flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.flex-box .box{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 0;
    padding: 12px;
    margin: 20px;
  }
  .flex-box .box i{
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .box-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  .box-logo{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .box-nav h2{
    margin-left: 10px;
  }
  .box-nav button{
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border:1px solid #dddddd ;
    background-color: rgb(0, 84, 145);
    color: white;
    position: relative;
    cursor: pointer;
  }
  .box-nav button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #97BC62;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: 0.4s ease;
  }
  .box-nav button:hover::before{
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
 
  .box-nav button::after{
    content: "";
    width: 20px;
    height: 20px;
    border-top-right-radius: 25px;
    background-color: green;
  }

 .box .discover-btn{
    margin-top: 20px;
    padding: 10px 13px;
    border-radius: 25px;
    border:1px solid #dddddd ;
    background-color: whitesmoke;
 }
 @media screen and (max-width: 650px){
    .service{
        height: 100%;
        padding: 20px 0px ;
    }
    .parent-flex-box{
        flex-direction: column;
    }
 }

 /* end of service */



 .projects{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .project-head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:100px;
    background-color: #97BC62;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
 }
 .project-head h2{
    margin-left: 20px;
    font-size: 1.6rem;
 }
 .project-head img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
 .project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
 }
 .card{
    width: 180px;
    height: 240px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 20px;
    position: relative;
    top: 0;
    overflow: hidden;
 }
 .card p{
    font-size: 0.5rem;
    font-weight: 500;
    color: rgb(23, 215, 167);
 }
 .card h2{
    font-size: 1.4rem;
 }
 .card img{
    width: 170px;
    height: 190px;
    transform: rotate(10deg);
    position: absolute;
    bottom: -15px;
    right: 20px;
    border-radius: 10px;
 }
 @media screen and (max-width: 800px){
    .projects{
        height: 1150px;
    }
    .project-card{
        flex-direction: column;
    }
 }
 button{
    cursor: pointer;
 }
 /* end of projects */

 .hi{
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
 }
 .hi-head{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97BC62;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
 }
 .hi-head h2{
    font-size: 2rem;
 }
 .hi-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
 }
 @media screen and (max-width: 850px){
     .hi-flex{
        flex-direction: column;
     }
     .hi{
        height: 100%;
     }
     .hi-head{
        width: 300px;
        height: 90px;
     }
     .hi-box{
        flex-direction: column;
     }
     .hi-box1{
        height: 100%;
     }
     .hi-box1{
        width: 100%;
     }
 }
 .hi-box{
    display: flex;
    padding: 20px;
    /* width: 50%; */
 }
 .box{
    width: 150px;
    height: 300px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
 }
 .box h2{
    font-size: 0.7rem;
    font-weight: 700;
    margin: 15px 0px;
 }
 .box p{
    font-size: 0.7rem;
 }
 .box i{
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
 }
 .box i:hover{
    background-color: #97BC62;
    color: white;
 }
 .buttons{
    display: flex;
 }
 .buttons button{
    padding: 10px;
    border: 1px #dddddd solid;
    border-radius: 25px;
    margin: 2px;
 }
 .hi-box1{
    /* width: 50%; */
    position: relative;
    top: 0;
    height: 320px;
 }
 .hi-box1 input{
    width: 45%;
    height: 40px;
    border: 1px #dddddd solid;
    padding-left: 10px;
    outline: none;
 }
 .hi-box1 .buttons{
    display: flex;
    flex-wrap: wrap;
 }
 .hi-box1 button{
    width: 90px;
    height: 60px;
    border-radius: 0;
    margin: 20px 10px 20px 0px;
    background-color: white;
 }
 .hi-box1 i{
    margin-bottom: 5px;
    color: #97BC62;
 }
 .hi-box1 textarea{
    border: 1px #dddddd solid;
    outline: none;
    padding: 10px;
 }
 #send-btn{
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color: #97BC62;
    color: white;
    border: 1px #dddddd solid;
    position: absolute;
    bottom: 0;
    right: 0;
 }
 footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 footer p{
    font-size: 0.7rem;
 }